* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
}

header {
  display: flex;
  flex-wrap: wrap;
}

/* section {
  height: 500px;
} */

/* HERO HEADER SECTION */
.hero {
  min-height: 400px;
  width: 100%;
  background-color: #1f3732;
  color: #f9faf8;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  gap: 550px;
  margin-bottom: 100px;
}

.logo {
  height: 40px;
  width: 40px;
}

.header ul {
  /* background-color: blue; */
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.header ul li {
  list-style-type: none;
  display: inline;
  font-family: "Staatliches", cursive;
}

.header ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #f7c7da;
}

.hero-main {
  display: flex;
  /* background-color: magenta; */
}

@media (max-width: 800px) {
  .hero {
    min-height: 600px;
  }
  .hero-main {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .header {
    gap: 150px;
  }
}

.hero-left {
  display: flex;
  flex-direction: column;
  /* background-color: magenta; */
  width: 400px;
}

.hero h1 {
  font-size: 48px;
  font-weight: bolder;
  font-family: "Staatliches", cursive;
}

.hero-text {
  width: 300px;
  font-size: 18px;
  color: #e5e7eb;
  /* background-color: peachpuff; */
}

.sub-text {
  font-size: 14px;
  margin-top: 10px;
}

.button {
  display: block;
  background-color: #f7c7da;
  color: #333;
  border-radius: 7px;
  padding: 7px 30px;
  margin-top: 10px;
  border: none;
  font-weight: bold;
  font-family: "Staatliches", cursive;
  font-size: 18px;
}

.hero-right {
  display: flex;
  flex-direction: column;
  /* background-color: purple; */
  /* width: 400px; */
}

.hero-image {
  width: 400px;
  height: auto;
  box-shadow: #333;
  border-radius: 25px;
}

/* INFORMATION SECTION */
#one {
  background-color: rgba(111, 167, 136);
  /* height: 600px; */
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
  /* border: 2px solid red; */
}

#one h1 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  padding: 40px;
  font-family: "Staatliches", cursive;
  border-bottom: 3px solid #1f2937;
}

.tiles-container {
  /* background-color: magenta; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  background-color: rgb(111, 167, 136);
  margin-top: 60px;
}

.tile {
  /* background-color: magenta; */
  width: 200px;
  text-align: center;
}

.tile img {
  width: 200px;
  height: 250px;
  display: inline-block;
  text-align: center;
}

/* QUOTE/TESTIMONIAL SECTION */
#two {
  /* background-color: #8bafac; */
  background-image: url("https://images.pexels.com/photos/1331734/pexels-photo-1331734.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
  background-position: center;
  color: #000000;
  padding: 60px 100px;
}

.trans-box {
  background-color: #a9eefada;
  padding: 30px 60px;
  border-radius: 25px;
  border: 3px solid #1f3732;
}

.quote {
  font-size: 28px;
  font-style: italic;
  font-weight: bold;
  /* background-color: pink; */
}

.author {
  font-weight: bolder;
  text-align: right;
  font-size: 20px;
  font-family: "Staatliches", cursive;
  /* background-color: red; */
}

/* CALL TO ACTION SECTION */
#three {
  background-color: rgb(38, 107, 92);
  color: #333;
  padding: 50px;
}

.box {
  background-color: #c0f3e2;
  border-radius: 25px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  font-weight: bold;
}

@media (max-width: 800px) {
  .box {
    flex-direction: column;
    gap: 10px;
  }
}

.box-text h1 {
  font-family: "Staatliches", cursive;
}

.button.two {
  border: 2px solid #333;
  background-color: rgb(253, 239, 240);
}

/* FOOTER */
footer {
  background-color: #1f2937;
  color: white;
  display: block;
  text-align: center;
  padding: 30px;
}

footer a {
  text-decoration: none;
  color: gray;
}
